extends layout

block content
    div(class='form-wrapper')
        form(method="post") 
            fieldset 
                ul 
                    li 
                        label(for="first_name") *First Name:
                        input(type="text" id='first_name' name='first_name' value= user === undefined ? '' : user.first_name) 
                    li 
                        label(for="last_name") *Last Name:
                        input(type="text" id="last_name" name="last_name") 
                    li 
                        label(for="email") *Email:
                        input(type="email" id='email' name='email') 
                    li 
                        label(for="pwd") *Password:
                        input(type="password" id='pwd' name='pwd')   
                    li 
                        label(for="pwd_confirm") *Confirm Password:
                        input(type="password" id='pwd_confirm' name='pwd_confirm')       
            button Submit
            if errors 
                ul
                each error in errors 
                    li(class='err')= '*' + error.msg