extends layout

block content
    div(class='form-wrapper')
        form(method="post") 
            h2(class='main-index') Sign Up 
            fieldset 
                ul 
                    li 
                        label(for="first_name") *First Name:
                        input(type="text" id='first_name' name='first_name' required value= user === undefined ? '' : user.first_name) 
                    li 
                        label(for="last_name") *Last Name:
                        input(type="text" id="last_name" name="last_name" required) 
                    li 
                        label(for="email") *Email:
                        input(type="email" id='email' name='email' required) 
                    li 
                        label(for="pwd") *Password:
                        input(type="password" id='pwd' name='pwd' required)   
                    li 
                        label(for="pwd_confirm") *Confirm Password:
                        input(type="password" id='pwd_confirm' name='pwd_confirm' required)      
                    li 
                        label(for="admin") *Is Admin:
                        input(type="checkbox" id='admin' name='admin')    
            button Submit
            if errors 
                ul
                each error in errors 
                    li(class='err')= '*' + error.msg